<div id="container">
	<img src="http://placekitten.com/100/100" alt="Kitty">
	<div id="content">
		<h1>Hi, I'm Angie.</h1>
		<p>
			In high school, I created neat stuff with C++ and Java like pictures of giraffes and recreating <a href="http://minesweeperonline.com/">Minesweeper</a>. In college I pursued accounting but, after two years of working experience, called it quits. Now I'm expecting my B.S. in Business Administration (Information Systems) this December 2013 from <a href="http://sfsu.edu/">SF State University</a>. I'm familiar with the startup scene. I'm not a ninja or a rockstar or a monkey. I'm simply a girl who loves playing around with coding, programming and design.
		</p>
		<div id="skills">
			<h2>Skills</h2>
		</div><!-- END #skills -->
	</div><!-- END #content -->
</div><!-- END #container -->